bioxsdconvws/WebContent/WEB-INF/wsdl/BioXsWebserviceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://uwe.tbl/" name="BioXsWebserviceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://uwe.tbl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://uwe.tbl/" schemaLocation="BioXsWebserviceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="version">
    <part name="parameters" element="tns:version"/>
  </message>
  <message name="versionResponse">
    <part name="parameters" element="tns:versionResponse"/>
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException"/>
  </message>
  <message name="doConvert">
    <part name="parameters" element="tns:doConvert"/>
  </message>
  <message name="doConvertResponse">
    <part name="parameters" element="tns:doConvertResponse"/>
  </message>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <portType name="BioXsWebservice">
    <operation name="version">
      <input wsam:Action="http://uwe.tbl/BioXsWebservice/versionRequest" message="tns:version"/>
      <output wsam:Action="http://uwe.tbl/BioXsWebservice/versionResponse" message="tns:versionResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://uwe.tbl/BioXsWebservice/version/Fault/FileNotFoundException"/>
    </operation>
    <operation name="doConvert">
      <input wsam:Action="http://uwe.tbl/BioXsWebservice/doConvertRequest" message="tns:doConvert"/>
      <output wsam:Action="http://uwe.tbl/BioXsWebservice/doConvertResponse" message="tns:doConvertResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://uwe.tbl/BioXsWebservice/doConvert/Fault/FileNotFoundException"/>
    </operation>
    <operation name="test">
      <input wsam:Action="http://uwe.tbl/BioXsWebservice/testRequest" message="tns:test"/>
      <output wsam:Action="http://uwe.tbl/BioXsWebservice/testResponse" message="tns:testResponse"/>
      <fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://uwe.tbl/BioXsWebservice/test/Fault/FileNotFoundException"/>
    </operation>
  </portType>
  <binding name="BioXsWebservicePortBinding" type="tns:BioXsWebservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="version">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="doConvert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
    </operation>
    <operation name="test">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FileNotFoundException">
        <soap:fault name="FileNotFoundException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BioXsWebserviceService">
    <port name="BioXsWebservicePort" binding="tns:BioXsWebservicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

